/* General styles */
body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ba0000;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

h2.mainHeading {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Header and navigation */
.header {
    background: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {

    color: #ff0000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin-right: 20px;
    color: #fff;
    padding: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    background-color: #ff0000;
}

/* Mobile menu styles */
.mobile-menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Add these styles to your existing CSS file */

.mobile-navbar {
    display: none;
    /* Initially hidden */
    position: fixed;
    /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Fullscreen */
    background-color: rgba(0, 0, 0, 0.9);
    /* Semi-transparent background */
    z-index: 1000;
    /* High z-index to appear on top */
    overflow-y: auto;
    /* Enable scrolling if content overflows */
}

.mobile-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    /* Adjust as needed */
}

.mobile-navbar ul li {
    margin: 20px 0;
}

.mobile-navbar ul li a {
    color: white;
    /* White text color */
    font-size: 24px;
    /* Adjust as needed */
    text-decoration: none;
}



.mobile-navbar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.mobile-navbar a:hover,
.mobile-navbar a.active {
    background-color: #ff0000;
}

.section-body {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Media queries */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-navbar {
        display: flex;
    }

    #Sentiment_Plot {
        min-width: 90%;
    }

    #Cyberbullying_Plot {
        min-width: 40%;
    }

    .section-body {
        flex-direction: column;
    }
    
}

@media (min-width: 769px) {
    .mobile-navbar {
        display: none;
    }
}

/* Home section */
.home {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    /* background-image: url('Background.JPG'); Replace with your image path */
    background-size: cover;
    /* Cover the container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent repeating */
    background-color: #000000;
}

.home-img {
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    background-image: url('Background.JPG');
    background-size: cover;
    /* Cover the container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent repeating */
}

.home-img img {
    max-width: 100%;
    height: auto;
}

/* Additional styles for other sections */

.intro {
    background: #000000;
    color: #fff;
    margin-bottom: 200px;
    border-top: 20px solid #000000;
}


.intro-img {
    width: 100%;
    height: 100vh;
    size-adjust: 30px;
    /* Full viewport height */
    background-image: url('Tweet.jpg');
    background-size: contain;
    /* Cover the container */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent repeating */
}


.intro h2 {
    color: #fff;
    font-size: 30px;
}

.intro h3{
    text-align: center;
}

.intro p {
    padding: 50px 50px;
   
    font-size: 20px;
}
    


.scandal{
    border: 10px dashed #ffffff;
}

.activism{
    border: 10px solid #ff0000;
    background-color: #fff;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 100px;
}

.activism h2{
    color: #000000;
    font-size: 30px;
}

.activism p{
    text-decoration: underline;
}



.Timeline_plot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course {
    padding: 20px;
    background: #fff;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}


.course img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.course h2{
    border-bottom: 3px solid #ff0000;
    
}

.course h3{
    text-align: center;
}

.course p {
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

/* Graph containers */
/* #Sentiment_Plot, */
#Timeline_plot,
#Cyberbullying_Plot,
#choropleth,
#Profit_plot,
#Brand_Plot,
#Sales_Plot {
    margin: 20px 0;
    width: 100%;
    height: 400px;
}

#Sentiment_Plot {
    flex-basis: 40vw;
    
    
}

.left-half{
    flex-basis:45vw;
}


.BLM {
    
    border-top: 20px dashed #ff0000;
    margin-bottom: 10px;
}

/* .BLM h2 {
    margin-top: 100px;
}

.BLMrow {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of flex items */
    /* justify-content: space-around;
    margin: 20px 0; */
    /* flex-basis: 49%;

}

.BLM-col { 

    /* flex-basis: 22%;
    /* Reduce flex-basis to make the columns smaller */
    /* max-width: 22%;
    background: #525252;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    word-spacing: fixed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    border: 10px dashed #ff0000; 
    flex-basis: 49%;
  
    max-width: 49%;

    color: #fff;
    
    text-align: center;
    padding: 20px;
    border-radius: 5px;

    font-size: 13px;
    word-spacing: fixed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    /* Set a fixed height */




/* .BLM-col p {

    margin-bottom: 0;
    font-size: 20px;
    
    word-spacing: relative;
    flex-grow: 1;

    Ensure paragraphs take up remaining space  */


.BLMimpact {
    margin-top: 100px;
    border-bottom: 20px dashed #ff0000;
}

.cyberbullying {
    margin-top: 100px;
   
}

.graph-container{
    text-align: center;
    margin-left: 20px;
}



.finance {
    margin-top: 100px;
}

.Join{
    margin-bottom: 300px;

}

.Join p{
    text-align: center;
    text-decoration: underline;
}

.HMquote {
    background: #000000;
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

/* Call to action */
.row {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of flex items */
    justify-content: space-around;
    margin: 20px 0;
}

.course-col {
    flex-basis: 22%;
    /* Reduce flex-basis to make the columns smaller */
    max-width: 22%;
    background: #525252;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    word-spacing: fixed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    border: 10px dashed #ff0000;
    /* Set a fixed height */
}

.course-col h3 {
    margin-bottom: 5px;
}

.course-col p {
    margin-bottom: 0;
    font-size: 15px;
    text-decoration: underline;
    word-spacing: relative;
    flex-grow: 1;
    /* Ensure paragraphs take up remaining space */
}

.Bibliography{
    background: #525252;
    color: #fff;
}

.Bibliography h3{
    font-size: 15px;
}

.Bibliography p{
    font-size: 10px;
}

/* Media queries for other sections */
/* Media query for smaller screens (e.g., phones) */
@media (max-width: 768px) {
    .home-img {
        height: 50vh;
        /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .home-img {
        height: 40vh;
        /* Further adjust height for very small screens */
    }
}

#choropleth{
    min-height: 700px;
}

#Cyberbullying_Plot{
    min-height: 500px;
    text-align: center;
    
}


#Sentiment_Plot,
#Timeline_plot,


#Profit_plot,
#Brand_Plot,
#Sales_Plot {
    height: 300px;
}